
<div >
    <table style="width:100%"  class="table table-hover table-bordered table-striped">
        <thead>

            <th ng-repeat="column in columns" class="grid-header" ng-click="sort(column.value)">
                <a href="#" ng-click="orderByField='column.value'; reverseSort = !reverseSort">
                    {{column.name}}
                    <span ng-show="orderByField == 'firstName'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                </a>
            </th>
        </thead>
        <tr ng-repeat="row in rows|orderBy:orderByField:reverseSort">
            <td ng-repeat="column in row">{{column}}</td>
        </tr>
    </table>
    <div class="tab-content" ng-transclude></div>
</div>

